<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./css/style.css")
    body

        h3 Prefixing parent selector references

        .no-touch
            p color orange
        
        p.message-error color red
        
        h3 Variable expnsion in selectors

        .article             

        h3 Control directives

        .icon-save

        .icon-cancel

        .icon-help

        h3 The list data type

        button.button-save save
        button.button-cancel cancel
        button.button-help help

        h3 Defining custom functions

        p custom functions

        h3 Argument defaults

        p defaults

        h3 Keyword arguments

        p.defaults arguments

        h3 Variable arguments for functions/mixins

        .icon-green
        .icon-gray
        .icon-red

        h3 Content block arguments for mixins

        p.content content
